.score-trapezoid {
    position: relative;
    display: inline-block;
    color: #cbd5e4;
    margin: 2px auto;
    min-width: 68px;
    text-align:center;
}

.score-trapezoid::before {
    content: "";
    box-sizing: inherit;
    position: absolute;
    left: -9px;
    right: -9px;
    top: 1px;
    bottom: -3px;
    background-color: #2a3038;
    border-radius: 5px;
    transform: perspective(56px) rotateX(-13deg) translateY(-3px);
}
